package ${package.ServiceImpl};

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.xw.project.dto.${entity}Dto;
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${package.Entity}.${entity};

import org.springframework.beans.BeanUtils;
import org.springframework.stereotype.Service;
import org.springframework.util.StringUtils;
import java.util.List;

import java.util.Date;

import ${superServiceClassPackage};

/**
* <p>
    * ${entity}服务类
    * </p>
*
* @author ${author}
* @since ${date}
*/
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

  @Override
  public IPage<${entity} > page(${entity}Dto ${table.entityPath}Dto){
    IPage<${entity}> page = new Page<>(${table.entityPath}Dto.getCurrent(), ${table.entityPath}Dto.getSize());
    QueryWrapper<${entity}> queryWrapper = new QueryWrapper<>();
    return baseMapper.selectPage(page, queryWrapper);
  }

  @Override
  public void add(${entity} ${table.entityPath}){
    baseMapper.insert(${table.entityPath});
  }

  @Override
  public void update(${entity} ${table.entityPath}){
    baseMapper.updateById(${table.entityPath});
  }

  @Override
  public void delete(String id){
    baseMapper.deleteById(id);
  }

}