<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xw.project.mapper.AdvPrayLifePlaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xw.project.entity.AdvPrayLifePlace">
        <result column="id" property="id" />
        <result column="update_date" property="updateDate" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="create_by" property="createBy" />
        <result column="del_flag" property="delFlag" />
        <result column="remarks" property="remarks" />
        <result column="install_date" property="installDate" />
    </resultMap>


    <!-- 通用单表查询结果列 -->
    <sql id="Base_Column_List">
        ap.id,
        ap.install_date as installDate,
        ap.update_date as updateDate,
        ap.create_date as createDate,
        ap.update_by as updateBy,
        ap.create_by as createBy,
        ap.del_flag as delFlag,
        ap.remarks as remarks
    </sql>

    <!-- 通用多表查询结果列 -->
    <sql id="Base_Column_List_LEFT">
        ap.id,
        ap.install_date as installDate,
        ap.update_date as updateDate,
        ap.create_date as createDate,
        ap.update_by as updateBy,
        ap.create_by as createBy,
        ap.del_flag as delFlag,
        ap.remarks as remarks,
        tp.address as address,
        tp.position_lon as positionLon,
        tp.position_lat as position_Lat,
        tp.state as state,
        tp.area_id areaId,
        tp.org_id as orgId,
        tp.ref_type as refType,
        sa.full_name as areaName,
        so.name as orgName,
        so.area_id as areaCode,
        sd.name as stateName
    </sql>

    <!--通用左表联结-->
    <sql id="LEFT_JOIN_SQL">
        LEFT JOIN target_position tp ON ap.id = tp.ref_id
        LEFT JOIN sys_area sa ON tp.area_id = sa.id
        LEFT JOIN sys_dict sd ON tp.state = sd.id
        LEFT JOIN sys_organize so ON tp.org_id =so.id
    </sql>

    <select id="selectPageVO" resultType="com.xw.project.vo.AdvPrayLifePlaceVo">
        SELECT
        <include refid="Base_Column_List_LEFT"/>
        FROM
        adv_pray_life_place ap
        <include refid="LEFT_JOIN_SQL"/>
        <trim prefix="where" prefixOverrides="and">
            <if test="advPrayLifePlaceDto.address != null and advPrayLifePlaceDto.address != ''">
                tp.address like concat('%', #{advPrayLifePlaceDto.address},'%')
            </if>
            <if test="advPrayLifePlaceDto.stateName != null and advPrayLifePlaceDto.stateName != ''">
                sd.name like concat('%', #{advPrayLifePlaceDto.stateName},'%')
            </if>
            AND ap.del_flag=0
            ORDER BY ap.create_date desc
        </trim>
    </select>

    <select id="selectByIdVo" resultType="com.xw.project.vo.AdvPrayLifePlaceVo">
        SELECT
            <include refid="Base_Column_List_LEFT"/>
        FROM
            adv_pray_life_place ap <include refid="LEFT_JOIN_SQL"/>
        WHERE
            ap.id =#{id}
    </select>
    <select id="listTreeArea" resultType="com.xw.project.vo.AdvPrayLifePlaceVo">
         SELECT
            id,
            parent_id AS parentId,
            NAME AS areaName,
            CODE AS areaId,
            del_flag AS delFlag
        FROM
            sys_area
        WHERE
            del_flag = '0'
        AND id != '2'
    </select>
    <select id="listAllAddress" resultType="com.xw.project.vo.AdvPrayLifePlaceVo">
        SELECT
            <include refid = "Base_Column_List_LEFT" />
        FROM
            adv_pray_life_place ap <include refid = "LEFT_JOIN_SQL" />
        ORDER BY
            ap.create_date DESC
    </select>

</mapper>
