<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xw.project.mapper.DisFundAllocationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xw.project.entity.DisFundAllocation">
    <result column="id" property="id" />
    <result column="remarks" property="remarks" />
    <result column="update_date" property="updateDate" />
    <result column="create_date" property="createDate" />
    <result column="update_by" property="updateBy" />
    <result column="create_by" property="createBy" />
    <result column="del_flag" property="delFlag" />
        <result column="org_id" property="orgId" />
        <result column="project_id" property="projectId" />
        <result column="code" property="code" />
        <result column="reason" property="reason" />
        <result column="count" property="count" />
        <result column="contact_item_id" property="contactItemId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        remarks,
        update_date,
        create_date,
        update_by,
        create_by,
        del_flag,
        org_id, project_id, code, reason, count, contact_item_id
    </sql>

</mapper>
