<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xw.project.mapper.DisReserveNoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xw.project.entity.DisReserveNotice">
        <id column="id" property="id" />
        <result column="warehouse_id" property="warehouseId" />
        <result column="coordinate_id" property="coordinateId" />
        <result column="notice_code" property="noticeCode" />
        <result column="total" property="total" />
        <result column="handler" property="handler" />
        <result column="ratifier" property="ratifier" />
        <result column="publish_time" property="publishTime" />
        <result column="approver" property="approver" />
        <result column="status" property="status" />
        <result column="remarks" property="remarks" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

</mapper>
