<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xw.project.mapper.DisStockInMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xw.project.entity.DisStockIn">
        <id column="id" property="id" />
        <result column="donated_id" property="donatedId" />
        <result column="org_id" property="orgId" />
        <result column="code" property="code" />
        <result column="handler" property="handler" />
        <result column="approver" property="approver" />
        <result column="in_time" property="inTime" />
        <result column="remarks" property="remarks" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <select id="getWaitInList" resultType="com.xw.project.vo.DisStockWaitInVo">
        SELECT
           *
        FROM
            dis_reserve_notice a
        WHERE a.del_flag = '0'
    </select>

    <select id="getInList" resultType="com.xw.project.vo.DisStockInVo">
        SELECT
           *
        FROM
            dis_stock_in a
        WHERE a.del_flag = '0'
    </select>
</mapper>
