<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xw.project.mapper.OrgHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xw.project.entity.OrgHistory">
    <result column="id" property="id" />
    <result column="update_date" property="updateDate" />
    <result column="create_date" property="createDate" />
    <result column="update_by" property="updateBy" />
    <result column="create_by" property="createBy" />
    <result column="del_flag" property="delFlag" />
        <result column="parent_id" property="parentId" />
        <result column="parent_ids" property="parentIds" />
        <result column="session_num" property="sessionNum" />
        <result column="name" property="name" />
        <result column="full_name" property="fullName" />
        <result column="area_id" property="areaId" />
        <result column="org_type" property="orgType" />
        <result column="unicode" property="unicode" />
        <result column="level" property="level" />
        <result column="order_by" property="orderBy" />
        <result column="orgcoding" property="orgcoding" />
        <result column="unique_coding" property="uniqueCoding" />
        <result column="dev_coding" property="devCoding" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        update_date,
        create_date,
        update_by,
        create_by,
        del_flag,
        parent_id, parent_ids, session_num, name, full_name, area_id, org_type, unicode, level, order_by, orgcoding, unique_coding, dev_coding, remarks
    </sql>

</mapper>
